:root {
  --white: #FEFEFE;
  --black: #071108;
  --primary: #355A83;
  --secondary: #32936F;
}

.App {
  text-align: center;
}

body {
  background-image: url('./photo/Frame6.png'); /* Replace 'your-image.jpg' with your image file path */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed; /* Optional: Fixed background */
  /* Add other styles as needed */
}

.top-nav {
  position: sticky;
  top: 0;
  z-index: 1;
}