.navbar {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center;
  background-color: #7E7E7E; /* Add a background color */
  padding: 0.25rem; /* Add some padding for spacing */
  color: var(--white); /* Text color for links and logo */
}

.logo {
  position: absolute;
  left: 1rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}

.top-right {
  position: absolute;
  right: 1rem;
}

.button {
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.navbar-header {
  background-color: #000000;
  padding: 1rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
}

li {
  padding: .5rem;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  margin: 0 .25rem;
  cursor: pointer;
}

li:hover,
.button:hover {
  background-color: #555;
}

.active {
  border: solid 2px white;
  font-weight: bold;
}
